* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
}

#container-efeito {
    background-color: #000000d3;
    padding: 1em 0 1em 0;
}

body {
    background-image: url("../img-floresta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-thumb {
    background-color: #067b06;
    border: 1.5px solid #000;
    border-radius: 30px;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

figure > figcaption {
    flex-wrap: wrap;
    font-size: 1em;
    color: #ffffff;
    padding-top: 1em;
    width: 70vw;
    line-height: 1.5em;
    word-wrap: break-word;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 1em 1em;
}

header h1 {
    line-height: 1.5em;
    color: #3232d0;
}

header h1 > span {
    color: #a89f9f;
}

header p {
    font-size: 1em;
    font-weight: bold;
    color: #ccc;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main img {
    width: 65vw;
    height: 50vh;
    background-position: center bottom;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #00000054;
}

main section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 20px 0 20px;
    flex-wrap: wrap;
}

main section h2, h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #067b06;
    text-shadow: 5px 5px 7px #000000;
}

main section p, ul > li {
    font-size: .8em;
    line-height: 2em;
    color: #fff;
    margin: auto auto 1em 1em;
}

main #buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px 0 30px 0;
}

main .material-symbols-outlined {
    font-size: 50px;
}

main #buttons a {
    text-align: center;
    color: #a89f9f;
    text-decoration: none;
    cursor: pointer;
}

main #buttons p {
    margin-left: 0;
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    header p {
        font-size: 1.5em;
    }
    
    main img {
        width: 80vw;
        height: 70vh;
    }

    main section h2 {
        font-size: 1.5em;
    }

    main section p {
        font-size: 1em;
    }

    main .material-symbols-outlined {
        font-size: 70px;
    }

    main #buttons {
        margin: 50px 0 30px 0;
        gap: 100px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    header p {
        font-size: 1.8em;
    }

    main img {
        width: 70vw;
        height: 80vh;
    }

    main section {
        flex-direction: row;
        margin: 0 30px 0 30px;
    }

    main section h2 {
        font-size: 1.5em;
    }

    main section p {
        font-size: 1em;
    }

    main .material-symbols-outlined {
        font-size: 70px;
    }

    main #buttons {
        gap: 100px;
        margin: 50px 0 30px 0;
    }

    main #buttons > a:hover {
        color: #067b06;
    }
}

@media screen and (min-width: 1200px) {

    header p {
        font-size: 1.8em;
    }

    main img {
        width: 70vw;
        height: 80vh;
    }

    main section {
        flex-direction: row;
        margin: 0 30px 0 30px;
    }

    main section h2 {
        font-size: 1.5em;
    }

    main section p {
        font-size: 1em;
    }

    main .material-symbols-outlined {
        font-size: 70px;
    }

    main #buttons {
        margin: 50px 0 30px 0;
        gap: 100px;
    }

    main #buttons > a:hover {
        color: #067b06;
    }
}