@charset "UTF-8";

#container-efeito {
    background-color: #000000d3;
    padding: 1em 0 1em 0;
}

#image {
    background-image: url("../bioetica.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}